* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;
}

h1 {
  font-family: 'MontserratBold';
  font-weight: normal;
  font-style: normal;
  color: #665544
}

.container {
  width: 90%;
  background-color: OldLace;
  height: 20em;
  padding: 1em;
  border: 3px solid #665544;
  
  display: flex;
  flex-direction: column;
  justify-content: center
}

label {
  font-size: 1.7em;
  font-weight: bold;
}

input[type="text"]{
  width: 80%;
  height: 1.6em;
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid #665544
}

input[type="submit"]{
  width: 30%;
  padding: 0.2em;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

/* Link colors and blink when hovered */
a {
  color: #665544;
}

a:hover {
  color: blue;
  animation: blink 0.75s step-start infinite;
  animation-delay: 3s;
}

a:active {
  color: rgb(91, 30, 133);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/*-- New Dice Styles: AV - 3/2 --*/                         

#diceBag { /* AV - 3/1 */
  transition: 200ms ease-in-out; 
}

#diceBag:hover { /* AV - 3/1 */
  scale: 1.05;
}

.dice-entry {
  display: inline-block;
}

.d4-dice {
  width: 100px;
  min-height: 100px;
  position: relative;
  background-image: url('../images/d4-dice.svg');
  background-size: cover;
}

.d6-dice {
  width: 100px;
  min-height: 100px;
  position: relative;
  background-image: url('../images/d6-dice.svg');
  background-size: cover;
}

.d8-dice {
  width: 100px;
  min-height: 100px;
  position: relative;
  background-image: url('../images/d8-dice.svg');
  background-size: cover;
}

.d10-dice {
  width: 100px;
  min-height: 100px;
  position: relative;
  background-image: url('../images/d10-dice.svg');
  background-size: cover;
}

.d12-dice {
  width: 100px;
  min-height: 100px;
  position: relative;
  background-image: url('../images/d12-dice.svg');
  background-size: cover;
}

.d20-dice {
  width: 100px;
  min-height: 100px;
  position: relative;
  background-image: url('../images/d20-dice.svg');
  background-size: cover;
}

.dice-result {
  display: inline-block;
}

.result-number {
  position: absolute;
  top: 37%;
  font-size: 26px;
  font-family: 'BebasNeueBold';
  font-weight: normal;
  font-style: normal;
}

.result-number.one-digit {
  left: 45%
}

.result-number.two-digit {
  left: 39%
}

/*-- END: New Dice Styles --*/

/* OTHER STYLES */

[class$="face"] {
float: left;
margin: 16px;
padding: 4px;

background-color: #e7e7e7;
width: 104px;
height: 104px;
object-fit: contain;

box-shadow:
  inset 0 5px white, 
  inset 0 -5px #bbb,
  inset 5px 0 #d7d7d7, 
  inset -5px 0 #d7d7d7;

border-radius: 10%;
}

.pip {
display: block;
width: 24px;
height: 24px;
border-radius: 50%;
margin: 4px;

background-color: #333;
box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

/* CSS for the navigation bar */ 
.nav{
background-color: OldLace;
margin: 0% auto 1%;
padding: 0.5em;
border: 3px solid #665544;
width: 91.5%;
text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li{
display: inline;
padding: 0.5em;
}

#short-result{
  font-weight: bold;
}

/* Style for the credits section at the bottom left */
.credits-wrapper {
  position: fixed;
  bottom: 25px;
  left: 25px;
  background-color: OldLace;
  border: 3px solid #665544;
  padding: 15px;
}

.credits-content {
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: bold;
  color: #665544;
  margin-bottom: 5px;
}

.names {
  display: flex;
  flex-direction: column;
  color: #665544;
}